.image_size{
    height: 210px;
 }
.btnSpace{
    margin-top: 25px;
}
.resume{
    text-align: center;
    font-size: 20px;
}
.espace{
    margin-top: 5px;
}

.space{
    margin-top: 4px;
    border-top: 2px solid #ccc;
    margin-bottom: 5px;
}
.check{
    color: red;
    font-size: 20px;
}
.checkTel{
    color: red;
    font-size: 10px;
}